#div-start {
	width: 350px;
	padding: 10px;
	padding-left: 60px;
	padding-right: 60px;
	margin: auto;
	margin-top: 64px;
	background-image: url("/assets/images/index/index-fg-bg.svg");
	background-position: top;
	background-repeat: repeat-x;
}

#index-heading {
	height: 64px;
	margin-top: 0px;
	margin-bottom: 30px;
	padding-top: 5pt;
	padding-left: 0px;
	
}

#img-index-heading {
	margin-top: 0px;
	margin-right: 10px;
}

/* Login Form */

#form-username {
	margin: 0 0 0 0;
}

#div-username {
	width: 350px;
	height: 60px;
	margin-top: 10px;
}

#lbl-username {
	display: inline-block;
	width: 100px;
	height: 30px;
	vertical-align: middle;
}

#div-input-username {
	display: inline-block;
	height: 30px;
}

#div-username-submit {
	margin-top: 40px;
	margin-bottom: 0px;
}



