#hr {
	border-color: #222222;
}

#img-logo {
	float: left;
	display: block;
	margin-right: 5px;
	width: 128px;
	
	
}

#lbl-logged-uname {
	margin-left: 30px;
	padding-top:16px;
}

#div-main-container {
	padding: 10px;
}

#div