@(title: String = "", gamename: String, modename: String)(modeheader: Html)(modeplayground: Html)(modeaction: Html)

@import play.api.i18n._
@import de.saxsys.treasurehunting.common.views.html._
@import de.saxsys.treasurehunting.common.controllers._

@defining(CommonController.getLang()) { lang =>
	
	@main(title, "game") { 
		@* header *@
		<link rel="stylesheet" type="text/css" 
			href="@routes.Assets.at("stylesheets/game/game.css")" >
		<script type="text/javascript" 
			src="@routes.Assets.at("javascripts/game/game.js")"></script>
		@modeheader
	} {
		@* content *@
		
		<!-- für alles: Roman: Restliche Styles gemäß Vorgaben definieren. -->
		
		<div class="row-fluid">
			
			<div id="div-playground" class="span8">
			
				<div id="div-nav-playground">
					<!-- TODO -->
				</div>
				
				<!-- Roman: Javascript-Code zum Ersetzen bei Pause und vice versa -->
				
				<div id="div-resume">
					<a id="a-resume" onclick="resumeGame()">Resume<!-- Roman: Bild statt Text --></a>
				</div>
				
				<div id="div-pause">
					<a id="a-pause" onclick="pauseGame()">Pause<!-- Roman: Bild statt Text --></a>
				</div>
				
				<!-- ###################### -->
			
				<div id="div-restart">
					<a id="a-restart" onclick="restartGame()">Restart<!-- Roman: Bild statt Text --></a>
				</div>
			
				<div id="div-cancel">
					<a id="a-cancel" onclick="cancelGame()">Cancel<!-- Roman: Bild statt Text --></a>
				</div>
				
				@modeplayground
			
			</div>
			
			<div id="div-ia" class="span4">
				<div id="div-info" class="well">
					
					<h4>@Messages("game.template.info.heading")(lang)</h4>
					
					<div class="control-group"> 
					    <div>
					    	<span class="control-label">@Messages("game.template.info.modename.label")(lang)</span> 
					    </div>
					    <div>
					    	<span id="lbl-gamemode">@modename</span>
					    </div>
					</div>
					
					<div class="control-group"> 
					    <div>
					    	<span class="control-label">@Messages("game.template.info.gamename.label")(lang)</span> 
					    </div>
					    <div>
					    	<span id="lbl-gamename">@gamename</span>
					    </div>
					</div>
					
					<!-- 
						Roman: each line must be created dynamically via 
						javascript (using the websocket messages given by the server) 
					-->
					<table id="table-info" class="table table-striped">						
						<tr id="COUNTER_ID-row" class="active">
							<!-- color -->
							<td class="color">Rot<!-- Roman: Bild (Quadrat, Kreis, oä.) mit einer bestimmten Farbe malen --></td>
							<!-- name -->
							<td class="name">Stefan</td>
							<!-- cards -->
							<td class="cards">0</td>
						</tr>
					</table>
					
				</div>
				
				<div id="div-action">
					@modeaction
				</div>
				
			</div>
		</div>
		
		
		
	}
}