#form-singleplayer-conf {
	margin: 0 10 0 10;
	padding-right: 15px;
	
	
	
}

#div-gameName, #div-counterColor, #div-playgroundName {

}

#lbl-gameName, #lbl-counterColor, #lbl-playgroundName {
	
	
}

#div-input-gameName, #div-input-counterColor, #div-input-playgroundName {

}

#div-sp-conf-submit {

}