
@import de.saxsys.treasurehunting.common.controllers._

@import helper._
@import play.api.i18n._

<div id="div-lang" class="pull-left">
  <div class="pull-left">@Messages("common.lang.label")
  </div>
  <div id="div-cz" class="pull-right">
    <a id="a-cz" title="@Messages("common.lang.a.cz.tooltip")"><img src="@routes.Assets.at("images/lang/cz.png")" /></a>
  </div>
  <div id="div-pl" class="pull-right">
    <a id="a-pl" title="@Messages("common.lang.a.pl.tooltip")"><img src="@routes.Assets.at("images/lang/pl.png")"/></a>
  </div>
  <div id="div-de" class="pull-right">
    <a id="a-de" title="@Messages("common.lang.a.de.tooltip")"><img src="@routes.Assets.at("images/lang/de.png")"/></a>
  </div>
  <div id="div-en" class="pull-right">
    <a id="a-en" title="@Messages("common.lang.a.en.tooltip")"><img src="@routes.Assets.at("images/lang/en.png")"/></a>
  </div>
</div>

