@* the start page of the application *@
@(loginForm: Form[de.saxsys.treasurehunting.common.controllers.CommonController.Login])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(de.saxsys.treasurehunting.common.views.html.bootstrap.horizontalFieldConstructor.f) }

@import play.api.i18n._
@import play.api.data.Form._

@import play.mvc._

@import de.saxsys.treasurehunting.common.views.html._
@import de.saxsys.treasurehunting.common.controllers._

@defining(CommonController.getLang()) { lang =>

<!DOCTYPE html>

<html>
    <head>
        <title>@Messages("common.index.title")(lang)</title>
        @bootstrap.header()
	   	<link rel="stylesheet" media="screen" type="text/css" href="@routes.Assets.at("stylesheets/common-index.css")" />
	   	@i18n.header()
    </head>
    
    <body>      
    	<div id="div-start" class="container well">
	      <span>
	      	
	      	<h4 id="index-heading">
	      		<img id="img-index-heading" src="@routes.Assets.at("images/logo/logo64.png")" />
	      		@Messages("common.index.heading")(lang)
	      	</h4>
	      </span>
	      
	      @i18n.content(lang)	      
	      
	      <!-- form-horizontal -->
	      @helper.form(routes.CommonController.authenticate, args = 'method -> "post", 'id -> "form-username") { 	      	 
	      	 
	      	 @helper.inputText(loginForm("username"),
	      	   	'_label -> Messages("common.index.login.username.label")(lang), 
	      	   	'placeholder -> Messages("common.index.login.username.placeholder")(lang))
	         
	         <div id="div-username-submit" class="form-actions">
	           <button id="btn-start" type="submit" class="btn btn-large btn-block btn-inverse pull-left">
	           		@Messages("common.index.login.submit")(lang)
	           </button>
	         </div>	      	
	      }        	      
	    </div>       
    </body>
</html>

}