@* the main template file *@
@(lang: Lang = null)

@import de.saxsys.treasurehunting.common.views.html._
@import de.saxsys.treasurehunting.common.controllers._

<html>
    <head>
        <title>@Messages("common.index.title")(lang)</title>
        @bootstrap.header()
	   	@i18n.header()        
    </head>
    
    <body>    
    	<a href="http://@play.mvc.Controller.request().host()/game")"> game </a>
        <a href="http://@play.mvc.Controller.request().host()/admin")"> admin </a>    
    </body>
</html>